<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="ModbusLibraryConnectionString" connectionString=" Server=tcp:modbusserver.database.windows.net,1433;Initial Catalog=ModbusDB;Persist Security Info=False;User ID=myadmin;Password=(yourpasswordhere);MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />

  </connectionStrings>
  <appSettings>
    <add key ="IPadress"   value="192.168.50.164"/>
    <add key ="PortNumber" value="502"/>
    <add key ="MaxLogin" value="3"/>
    <add key ="Samplingtime" value="5000"/>
    <add key="MaxCycles" value="20" />
    <add key="MaxLogintries" value="3" />
  </appSettings>
</configuration>